---
export const frontmatter = {
    title: 'Corso COBOL Base e Avanzato',
    field: 'Programmazione procedurale',
    institute: 'Istituto Tecnico Stimate (scuola legalmente riconosciuta)',
    location: 'Via C. Montanari, 1 - 37122, Verona',
    dateFrom: '1996xxxx',
    dateTo: '1997xxxx',
    icon: 'BookOpen',
    description: [
        'Partecipazione ai corsi di programmazione <label class="blue-tag">COBOL</label> base e avanzato, ciascuno articolato in dieci lezioni da quattro ore, per un totale di ottanta ore di formazione pratica e teorica.',
        'I corsi, tenuti dal Prof. Giuseppe Mimiola — docente con pluridecennale esperienza professionale nel settore informatico — hanno fornito una preparazione solida sui fondamenti della programmazione procedurale e sulla gestione dei flussi dati.',
        'L’approccio rigoroso e strutturato ha permesso di acquisire padronanza nella scrittura, analisi e manutenzione del codice in ambienti PC e Linux, sviluppando metodo e precisione nella logica di programmazione.'
    ]
};
---
