---
export const frontmatter = {
    title: 'Esame di ammissione al Mensa Italia',
    field: 'Valutazione del quoziente intellettivo (QI)',
    institute: 'Mensa Italia',
    location: 'https://www.mensa.it/',
    date: '1998xxxx',
    icon: 'GraduationCap',
    description: [
        'Superamento dell’esame di ammissione al <label class="blue-tag">Mensa Italia</label>, associazione internazionale che riunisce individui con un quoziente intellettivo appartenente al 2% più alto della popolazione.',
        'Il test, basato su prove di logica, ragionamento astratto e capacità di problem solving, ha certificato l’idoneità all’ingresso nell’associazione.'
    ]
};
---
