---
export const frontmatter = {
    title: 'Servizio di leva — sezione logistica informatica',
    field: 'Gestione reti e sviluppo web',
    institute: 'Battaglione Logistico “Pozzuolo del Friuli”',
    location: 'Tricesimo (UD)',
    dateFrom: '199906xx',
    dateTo: '200004xx',
    icon: 'BookOpen',
    description: [
        'Svolgimento del servizio di leva presso il Battaglione Logistico <em>“Pozzuolo del Friuli”</em>, con assegnazione alla sezione logistica.',
        'Durante il periodo di servizio ho contribuito alla realizzazione e configurazione della rete informatica della caserma, occupandomi del cablaggio fisico, della gestione dei collegamenti interni e della configurazione dei server.',
        'Parallelamente ho curato la creazione e la manutenzione del sito web dell’unità, sviluppato in <label class="blue-tag">HTML</label> statico — una delle prime esperienze dirette di sviluppo e gestione di contenuti digitali in ambito operativo.'
    ]
};
---
