---
export const frontmatter = {
    title: 'Docente Visual Basic — progetto di formazione AGFOL',
    field: 'Formazione professionale e selezione del personale',
    institute: 'EncoPro S.r.l.',
    location: 'Verona (azienda cessata nel 2015)',
    date: '2005xxxx',
    icon: 'BookOpen',
    description: [
        'Attività di docenza nel corso di <label class="blue-tag">Visual Basic</label> organizzato da EncoPro S.r.l. in collaborazione con la <em>“Agenzia Formazione e Lavoro” (AGFOL)</em> e finanziato dalla Comunità Europea.',
        'Il progetto era finalizzato alla formazione di nuove figure professionali con competenze in programmazione e contabilità, con l’obiettivo di individuare i candidati più idonei per un successivo inserimento in azienda.',
        'Responsabile della parte tecnica del programma, articolata in cinque lezioni intensive da otto ore ciascuna, dedicate allo sviluppo e all’applicazione pratica dei principi di <label class="blue-tag">Visual Basic</label>.'
    ]
};
---
