---
export const frontmatter = {
    title: 'Corso di programmazione Java (base e intermedio)',
    field: 'Corso tecnico di programmazione back-end',
    institute: 'JPanik S.r.l.',
    location: 'Via Capo Palinuro, 32 - 00122, Roma',
    dateFrom: '2015xxxx',
    dateTo: '2016xxxx',
    icon: 'BookOpen',
    description: [
        'Partecipazione ai corsi di <label class="blue-tag">Java</label> base e intermedio, per un totale di 80 ore suddivise in 20 lezioni da 4 ore ciascuna, finanziati da GPI S.p.A. nell’ambito del programma di aggiornamento tecnico del personale.',
        'Il percorso ha fornito una conoscenza completa dei fondamenti del linguaggio e dei principi della programmazione orientata agli oggetti, con esercitazioni pratiche focalizzate sulla gestione delle classi, delle interfacce e delle eccezioni in ambiente <label class="blue-tag">Java</label>.',
        'Sono state inoltre introdotte le basi per lo sviluppo di applicazioni modulari e scalabili, ponendo le premesse per i successivi approfondimenti sulle tecnologie web e framework di integrazione.'
    ]
};
---
