---
export const frontmatter = {
    title: 'Corso di programmazione Java',
    field: 'Formazione aziendale finanziata',
    institute: 'JPanik S.r.l.',
    location: 'Via Capo Palinuro, 32 - 00122, Roma',
    date: '2016xxxx',
    icon: 'BookOpen',
    description: [
        'Partecipazione ai corsi di <label class="blue-tag">Java</label> base e intermedio, finanziati dall’azienda nell’ambito di un programma di aggiornamento tecnico del personale.',
        'Il percorso ha consolidato le conoscenze fondamentali del linguaggio e introdotto le principali tecniche di sviluppo orientato agli oggetti in ambiente Java.'
    ]
};
---
