---
export const frontmatter = {
    title: 'Corso di programmazione Angular (base)',
    field: 'Formazione aziendale finanziata',
    institute: 'Glue-Labs S.r.l.s.',
    location: 'Piazza Don Sturzo, 15 - 00122, Roma',
    date: '2018xxxx',
    icon: 'BookOpen',
    description: [
        'Partecipazione al corso di <label class="blue-tag">Angular</label> base, finanziato dall’azienda nell’ambito di un programma di aggiornamento delle competenze per lo sviluppo web.',
        'Il percorso ha fornito una panoramica completa sul framework Angular, introducendo i concetti di componenti, data binding e modularità, con esercitazioni pratiche orientate alla creazione di interfacce dinamiche e scalabili.'
    ]
};
---
