---
export const frontmatter = {
    title: 'Corso di programmazione Angular (base)',
    field: 'Corso tecnico di programmazione front-end',
    institute: 'Glue-Labs S.r.l.s.',
    location: 'Piazza Don Sturzo, 15 - 00122, Roma',
    date: '2018xxxx',
    icon: 'BookOpen',
    description: [
        'Partecipazione al corso introduttivo di <label class="blue-tag">Angular</label>, finanziato da GPI S.p.A. nell’ambito di un programma di aggiornamento delle competenze per lo sviluppo web.',
        'Il percorso, strutturato in 10 lezioni da 4 ore ciascuna, ha fornito le basi teoriche e pratiche del framework, introducendo i concetti di componenti, data binding, moduli e routing.',
        'Durante le lezioni sono state realizzate semplici applicazioni interattive, con particolare attenzione alla struttura dei progetti e all’organizzazione del codice secondo le best practice del framework.'
    ]
};
---
