---
export const frontmatter = {
    title: 'Corso Docker e Kubernetes',
    field: 'Formazione tecnica avanzata',
    institute: 'OverNet Education',
    location: 'Centro Direzionale Milanofiori — Strada 4, Palazzo Q5 — 20089 Rozzano (MI)',
    dateFrom: '20240516',
    dateTo: '20240527',
    icon: 'BookOpen',
    description: [
        'Partecipazione al corso intensivo di <label class="blue-tag">Docker</label> e <label class="blue-tag">Kubernetes</label> organizzato da <a href="https://www.overnet.education/" target="_blank" class="text-[#00bcd4] hover:underline">OverNet Education</a>, della durata complessiva di 20 ore.',
        'Il percorso, tenuto dai docenti Antonio Minelli e Alessandro Iacuelli, ha approfondito i principi di containerizzazione, deployment e orchestrazione di applicazioni in ambienti distribuiti, fornendo competenze operative sull’utilizzo di Docker e sulla gestione dei cluster Kubernetes in contesti aziendali.'
    ]
};
---
