---
export const frontmatter = {
    title: 'Corso Docker e Kubernetes',
    field: 'Formazione tecnica avanzata',
    institute: 'OverNet Education',
    location: 'Centro Direzionale Milanofiori — Strada 4, Palazzo Q5 — 20089 Rozzano (MI)',
    dateFrom: '20240516',
    dateTo: '20240527',
    icon: 'BookOpen',
    description: [
        'Corso intensivo di <label class="blue-tag">Docker</label> e <label class="blue-tag">Kubernetes</label> della durata complessiva di 20 ore, finanziato da GPI S.p.A. nell’ambito del programma di aggiornamento tecnico del personale.',
        'Il percorso ha approfondito le tecnologie di containerizzazione e orchestrazione di applicazioni, con particolare attenzione alla creazione e gestione di ambienti isolati tramite Docker e al loro coordinamento su cluster Kubernetes per il deployment scalabile e automatizzato.',
        'Sono stati affrontati aspetti pratici relativi alla configurazione dei container, alla gestione dei volumi e delle immagini, nonché alla definizione e al controllo dei pod e dei servizi in ambienti distribuiti.'
    ]
};
---
