---
export const frontmatter = {
    title: 'Corso di programmazione Angular (intermedio)',
    field: 'Corso tecnico di programmazione front-end',
    institute: 'Glue-Labs S.r.l.s.',
    location: 'Piazza Don Sturzo, 15 - 00122, Roma',
    date: '2025xxxx',
    icon: 'BookOpen',
    description: [
        'Partecipazione al corso di <label class="blue-tag">Angular</label> intermedio, della durata di 40 ore suddivise in 10 lezioni da 4 ore ciascuna, finanziato da GPI S.p.A. nell’ambito del programma di aggiornamento tecnico del personale.',
        'Il percorso ha approfondito l’utilizzo del framework <label class="blue-tag">Angular 20</label>, con particolare attenzione alle novità introdotte nelle versioni più recenti, tra cui il sistema di Signal e i nuovi approcci alla gestione dello stato e alla reattività dei componenti.',
        'Sono state inoltre trattate best practice relative alla strutturazione modulare del codice, alla comunicazione tra componenti e all’ottimizzazione delle performance delle applicazioni front-end.'
    ]
};
---
