---
export const frontmatter = {
    title: 'Corso di programmazione Angular (intermedio)',
    field: 'Formazione aziendale finanziata',
    institute: 'Glue-Labs S.r.l.s.',
    location: 'Piazza Don Sturzo, 15 - 00122, Roma',
    dateFrom: '2024xxxx',
    dateTo: '2025xxxx',
    icon: 'BookOpen',
    description: [
        'Partecipazione al corso di <label class="blue-tag">Angular</label> intermedio, finanziato dall’azienda per l’aggiornamento continuo delle competenze di sviluppo front-end.',
        'Il programma ha approfondito l’utilizzo avanzato del framework, con particolare attenzione alla gestione dello stato, ai servizi, alla comunicazione tra componenti e alle best practice per la realizzazione di applicazioni modulari e performanti.'
    ]
};
---
